*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    color: #252b46;
}

body{
    background-color: #ffff;
}

.wrapper-header{
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.nav-child{
    font-size: 16px;
    color: #252b46;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
}
.login{
    padding: 13px 40px;
    background-color: transparent;
    color: #fa5757;
    border: none;
    border: 2px solid #fa5757;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 500;
}
nav{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.wrapper-menu{
    display: none;
}
.hero-left{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.hero-h1{
    font-size: 52px;
    font-weight: 600;
}

.hero-p{
    color: #9194a1;
    letter-spacing: 1px;
    line-height: 1.5rem;

}
.wrapper-hero-btn{
    display: flex;
    gap: 20px;
}
.hero-btn-1{
    padding: 15px 40px;
    border: none;
    background-color: transparent;
    border: 2px solid #252b46;
    border-radius: 5px;
    font-size: 16px;


}
.hero-btn-1:hover{
    border-color: #5368df;
    color: #5368df;
    cursor: pointer;
    box-shadow: 3px 4px 10px lightgray;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 70px;
}
.header-left{
    display: none;
}

.btn-1{
    color: #5368df;
    font-weight: bold;
    border: 2px solid #5368df;
}
.btn-2{
    font-weight: bold;
}
.second-page-h2{
    font-size: 35px;
    text-align: center;
}
.wrapper-matn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.matn{
    text-align: center;
}.second-hero-header{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#next-1, #next-2, #next-3{
    font-size: 18px;
    margin-top: 40px;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
}
#wrapper-next{
    display: flex;
    gap: 10%;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    overflow: hidden;
    margin-bottom: 30px;

    /* border-bottom: 1px solid #9194a1;
    margin-bottom: 10px;
    max-width: 1000px;
    align-items: center;
    margin-right: auto;
    margin-left: auto; */
    
}
.next-sarlavha{
    font-size: 36px;
}
.next-btn{
    padding: 15px 30px;
    color: white;
    background-color: #5368df;
    border-radius: 5px;
    border: none;
}

.next-right{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.next-matn{
    text-align:start;
}
.nexts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 140px;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 40px;
}
#wrapper-second-next{
    display: none;
}
#wrapper-third-next{
    display: none;
}

.linee{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-bottom: 30px;
    border-bottom: 4px solid transparent;


}


.linee:hover{
    border-bottom-color:#fa5757;
}

.hh2{
    margin-top: 7rem;
}
.wrapper-center{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.general-logos{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* width: 500px;
    height: 600px; */
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 4px 10px lightblue;
    align-items: center;
    justify-content: center;
    padding: 30px 30px;
    border-radius: 5px;
    max-width: 800px;
    height: 500px;
}
.logos-names{
    font-size: 24px;

}
.wrapper-logos{
    display: flex;
    gap: 40px;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
    margin-top: 60px;  
    margin-bottom: 50px; 

}

.logo-2{
    margin-top: 40px;
    padding-bottom: 40px;
}
.logo-3{
    margin-top: 80px;
    padding-bottom: 80px;
}

.logo-chrome{
    margin-top: 20px;
}
.logo-button:hover{
    color: #5368df;
    background-color: transparent;
    border: none;
    border: 2px solid #5368df;
    cursor: pointer;
}

.togle-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 40px; */
    max-width: 900px;
    gap: 250px;
    

}
.ending-page{
    display: flex;
    flex-direction: column;
    gap: 20px;
} 
    .wrapper-ending-page{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.text{
    max-width: 570px;
    text-align: center;
}
.wrapper-togles{
    padding-bottom: 20px;
    padding-top: 20px;
}

.answer{
    display: none;
    padding-bottom: 10px;
    max-width: 600px;
    padding-bottom: 20px;
}
.faq.active .answer{
    display: block;
}
.accordion:hover{
    cursor: pointer;
}
.togle-matn{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 20px;

}
.wrapper-tog{
    max-width: 700px;
    border-bottom: 1px solid #9194a1;

}

.wrapper-tog-tugma{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 50px;
}

footer{
    background-color: #5368df;

}
.wrapper-footer{
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 70px;
}
.footer-span{
    font-weight: 500;
    letter-spacing: 5px;
    color: white;
}
.footer-h3{
    font-size: 35px;
    max-width: 500px;
    color: white;
}

.wrapper-input-email{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    position: relative;
    padding-bottom: 5px;
    
}
#email-w{
    display: flex;
    flex-direction: column;
    /* border: 5px solid #fa5757;
    background-color: #fa5757;
    width: 300px; */
    /* max-width: 300px; */
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 3px;
    background-color: #fa5757;
    /* padding-bottom: 30px; */

    
    
}
.error{
    position: absolute;
    left: 85%;
    

}
#email{
    padding: 15px 25px;
    padding-right: 50px;
    color: #252b46;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    border: none;

}
.input-span{
    color: white;
    padding-bottom: 5px;
    
}

.submit{
    padding: 15px 25px;
    font-size: 18px;
    font-weight: bold;
    color: #fa5757;
    border: none;
    background-color: white;
    border-radius: 5px;
}


form{
    display: flex;
    gap: 30px;
}

.footer-above{
    background-color: #252b46;
    
}
.wrapper-footer-above{
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer-above-left{
    display: flex;
    align-items: center;
    gap: 30px;


}
.color{
    color: white;
}

.footer-above-right{
    display: flex;
    gap: 20px;
    align-items: center;
}
.wrapper-menu, .wrapper-close{
    background-color: transparent;
    border: none;
}

#close{
    display: none;
}
header{
    position: relative;
}


.wrapper-linkss{
    background-color: transparent;
    border: none;
}

.wrapper-footer-above{
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}
#menuu{
    display: none;
}

/* .linklar{
    /* color: white;
    font-size: 22px; */
    /* border-bottom: 2px solid #9194a1;
    padding-bottom: 15px; */
*/



.login:hover{
    cursor: pointer;
}

nav{
    position: relative;
}

#closee:hover{
    cursor: pointer;
}

#yopish:hover{
    cursor: pointer;
}

/* #menubarr{
    display: none;
} */

header{
    position: relative;
}

@media (max-width: 768px) {
    nav{
        display: none;
    }
    .wrapper-header{
        max-width: 700px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: space-between;
         gap: 250px;
        align-items: center;
    }
    .wrapper-menu{
        display: block;
    }
    .menu{
        width: 22px;
    }
    .menu:hover{
        cursor: pointer;
    }
    .hero{
        display: flex;
        flex-direction: column-reverse;
        gap: 40px;
        align-items: center;
        justify-content: center;
        max-width: 650px;
        margin-right: auto;
        margin-left: auto;
    }
    .hero-h1, .hero-p{
        text-align: center;

    }
    .wrapper-hero-btn{
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
    .nexts{
        display: flex;
        flex-direction: column;
        gap: 40px;
        text-align: center;
        padding-bottom: 15px;
    }
    .next-matn{
        width: 600px;
    }
    .wrapper-logos{
        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: 650px;
        margin-right: auto;
        margin-left: auto;
        align-items: center;
        justify-content: center;
        padding-top: 40px;
    }
    .wrapper-footer-above{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .footer-above-left{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }




}

@media (max-width: 500px) {
     .btn-1{
        background-color: #5368df;
        color: white;
        border: none;

     }
     .btn-2{
        border: 2px solid #5368df;
        
     }
     .wrapper-first-next{
        max-width: 450px;
        margin-right: auto;
        margin-left: auto;
     }
     .nexts{
        padding-bottom: 50px;
     }
     .before-section{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
     }
     .answer{
        max-width: 400px;
     }
     .wrapper-tog{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 400px;

     }
     .togle-1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
     }
     form{
        display: flex;
        flex-direction: column;
        gap: 20px;
     }
     .footer-above-left{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .hero-right-img{
        
        width: 100%;
    }
    .hero-h1{
        font-size: 40px;
    }
    .hero-p{
        font-size: 16px;
        max-width: 450px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .wrapper-hero-btn{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .btn-1:hover{
        background-color: white;
        color: #5368df;
        border: 2px solid #5368df;
    }
    .unique-btn{
        box-shadow: 3px 4px 10px solid lightgray;
        border: 2px solid #5368df;
        color: #5368df;
    }
    .btn-2:hover{
        background-color: #5368df;
        color: white;

    }

    #wrapper-next{
        display: flex;
        flex-direction: column;
        gap: 0px;
        border-top: 2px solid lightgray;
    }
    .linee{
        border-bottom: 2px solid lightgray;
        width: 80%;
    }
    .rasm{
        width: 100%;
    }
    .next-sarlavha{
        font-size: 24px;

    }
    .matnn{
        max-width: 300px;
    }
    .togle-1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        max-width: 300px;
    }
    .togle-matn{
        font-size: 16px;
    }
    .togle-matn{
        width: 300px;
    }

    .footer-span{
        font-size: 16px;
        text-align: center;
    }
    .footer-h3{
        font-size: 26px;
        text-align: center;
    }
    #email{
        font-size: 16px;

    }
    #value{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .general-logos{
        width: 300px;
    }
    /* header{
        display: none;
    } */

    .general-logos{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* width: 500px;
    height: 600px; */
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 4px 10px lightblue;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    border-radius: 5px;
    max-width: 300px;
    height: auto;
}
.logos-names{
    font-size: 24px;

}

.wrapper-logos{
    display: flex;
    gap: 40px;
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
    margin-top: 60px;  
    margin-bottom: 50px; 

}
body{
    overflow-x: hidden;
}
    
    
    
}
